body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
    color:white;
}
.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
    padding:20px;
}

.gallery img{
    width:100%;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}
.call-btn,
.book-btn,
.insta-btn,
.btn{

transition:0.3s ease;

}

.call-btn:hover,
.book-btn:hover,
.insta-btn:hover,
.btn:hover{

transform:translateY(-5px);
box-shadow:0 0 20px orange;

}
